@page
@model VisitedPlaces_razor.Pages.Countries.CreateCountryModel
@{
}

<div class="ui container"></div>
<div class="ui clearing segment"><div class="ui container"></div>
  <h1 class="ui left floated header">
    Fill in your country
  </h1>
</div>

<form method="post" class="ui form">
        <div class="field">
            <label asp-for="Country.Name"></label> 
            <input asp-for="@Model.Country.Name" class="form-control"
            placeholder="Write your country here"/>
        </div>
        <div class="field">
            <label asp-for="Country.MainLanguage"></label> 
            <input asp-for="@Model.Country.MainLanguage" class="form-control" 
            placeholder="Add language here!"/>
        </div>
    <div class="fields">
        <div class="two wide field">
            <label asp-for="Country.YearVisited"></label> 
            <input type="text" asp-for="@Model.Country.YearVisited" class="form-control"
            maxlength="4" placeholder="Year"/>
        </div>
        <div class="two wide field">
            <label asp-for="Country.TimesVisited"></label> 
            <input asp-for="@Model.Country.TimesVisited" class="form-control"/>
        </div>
            <div class="two wide field">
                 <div class="ui form">
                  <label>Continent</label>
                  <div class="ui selection dropdown">
                      <input asp-for="@Model.ContinentId" type="hidden" name="ContinentId">
                      <i class="dropdown icon"></i>
                      <div class="default text">Continent</div>
                      <div class="menu">
                          <div class="item" data-value="1">Asia</div>
                          <div class="item" data-value="2">Europe</div>
                          <div class="item" data-value="3">Africa</div>
                          <div class="item" data-value="4">North America</div>
                          <div class="item" data-value="5">South America</div>
                          <div class="item" data-value="6">Antarctica</div>
                          <div class="item" data-value="7">Oceania</div>

                      </div>
                  </div>
              </div>
            </div>
    </div>

        @*        <div class="mb-3">
            <label asp-for="Country.Cities"></label> 
            <input asp-for="@Model.Country.Cities" class="form-control" />
        </div>*@

        <button type="submit" class="ui button" style="width:100px">
            Add
        </button>
</form>
