@page
@model VisitedPlaces_razor.Pages.Countries.IndexCountriesModel
@{
}

<div class="ui container"></div>
<div class="ui clearing segment"><div class="ui container"></div>
  <h2 class="ui left floated header">
    All the countries I have been to
  </h2>
    <h4 class="ui right floated header">          
      <a asp-page="createCountry" class="ui button">
            Add a Country
      </a>
    </h4>
</div>

<div class="ui container">
    <div class="ui container">

    </div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>                         
                        This is the country!
                    </th>
                    <th>
                        and they speak
                    </th>
                    <th>
                        First time I was here
                    </th>
                    <th>
                        and second time, third time....
                    </th>
                    <th>
                        All the cities I have visited! :)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Countries)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.MainLanguage
                        </td>
                        <td>
                            @item.YearVisited
                        </td>
                        <td>
                            @item.TimesVisited

                        </td>
                        <td>
                            @foreach(var city in @item.Cities)
                            {
                                @city.Name <br />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
