@page
@model VisitedPlaces_razor.Pages.Cities.CreateCityModel
@{
}

<div class="ui container"></div>
<div class="ui clearing segment"><div class="ui container"></div>
  <h1 class="ui left floated header">Fill in your city details</h1>
</div>

<form method="post" class="ui form">
    <div class="field">
        <label asp-for="City.Name"></label> 
        <input asp-for="@Model.City.Name" class="form-control" />
    </div>
        <div class="field">
          <input class="form-check-input" type="checkbox" value="true" id="IsCapital" asp-for="IsCapital" >
          <label class="form-check-label" asp-for="IsCapital">
            Is this a capital city?
          </label>
        </div>
        <div class="field">
      <label>Country</label>
      <div class="ui fluid search selection dropdown">
        <input asp-for="@Model.City.Country.Name" type="hidden" name="CountryName">
        <i class="dropdown icon"></i>
        <div class="default text">Select Country</div>
            <div class="menu">
                @foreach (var country in @Model.allCountries)
                {
                    <div class="item" data-value="@country.Name"><i class=""></i>@country.Name</div>
                }
 
            </div>
        </div >
    </div >
    
@*        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"><h4>My best memory</h4></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>*@

@*        <div class="mb-3">
            <label asp-for="City.CountryRegion"></label> 
            <input asp-for="@Model.City.CountryRegion" class="form-control" />
        </div>*@

        <button type="submit" class="ui button" style="width:100px">
            Add
        </button>
</form>